.sideMenu {
  position: fixed;
  margin-right: 20px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.sideMenu ul li {
  margin: 20px 0;
}

.sideMenu ul li h2 {
  opacity: 0;
  position: absolute;
  right: 32px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  z-index: -1;
  background-color: #037fff;
  padding: 16px 30px;
  border-radius: 30px 0 0 30px;
}

.sideMenu ul li:hover h2 {
  opacity: 1;
}

.sideMenu ul li:hover a {
  background-color: #037fff;
}